.card {
    position: relative;
    transform: skewY(-5deg);
    transition: 0.2s;
}

    .card:hover{
        transform: skewY(0deg);    
    }

    .card::before{
        content: '';
        position:absolute;
        top:0;
        left:-20px;
        height:100%;
        width:20px;
        background: rgba(0,0,0,0.02);
        transform-origin: right;
        transform: skewY(45deg);
        transition: 0.2s;
    }

    .card:hover::before {
        content: '';
        background: rgba(0,0,0,0);
        transition: 0.2s;
    }

.card-body {
    height:320px;
    box-shadow: -1px -3px 11px 5px rgba(0,0,0,0.035);
}
